@model List<EmployeeTaskTracker.sp_Getemployeetasks_Result>

@{
    Layout = null;
}

<h2>Assigned Tasks</h2>

<table border="1" width="100%">
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
    </tr>

    @foreach (var task in Model)
    {
        <tr>
            <td>@task.Title</td>
            <td>@task.Description</td>
            <td>@task.Status</td>
        </tr>
    }
</table>

<br />
<a href="@Url.Action("Admin_Home","Admin")">Back</a>
